h1{
      background: #45D4FC; 
      font-size: 350%;
}

h2{
      background: #1284A4;
      font-size: 200%; 
      color: #FCFDFD;
}

nav{
      background: #1284A4;
}

div{
      background: #45D4FC;
}